{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1>Nos produits phares
	</h1>
	<div class="row">
		{% for i in 1..3 %}
			<div class="col">
				<div class="card">
					<img src="https://picsum.photos/200/200" alt="Image du produit" class="img-fluid">
					<div class="card-body">
						<h4 class="card-title">Chaise en bois</h4>
						<p class="cardd-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, ex.</p>
						<a href="#" class="btn btn-primary btn-sm">Détails</a>
						<a href="#" class="btn btn-success btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irreprochable</h2>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias officia voluptate ad ea, culpa blanditiis facilis ipsam labore eius deserunt?</p>

	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
             'icon': 'truck',
              'text': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, blanditiis. '} %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'success',
             'icon': 'check',
              'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, aliquid? '} %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'warning',
             'icon': 'lock',
              'text': 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, aperiam. '} %}
	</div>
{% endblock %}
